# User Interfaces
TELEGRAM_BOT_API_KEY=

# LLMs
LLM_API_URL=
LLM_MODEL=

# Postgres
POSTGRES_URL=postgresql+asyncpg://postgres:postgres@db:5432/postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_ECHO=False